{% extends 'core/base.html' %}

{% block content %}
<h1 class="text-3xl">About</h1>

<div class="mt-6 space-y-6">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nemo
    tempora fugit nihil quos maiores doloribus accusamus ipsa voluptate, magni
    expedita aperiam ratione? Culpa cum perspiciatis consequuntur quisquam
    tenetur ad?
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nemo
    tempora fugit nihil quos maiores doloribus accusamus ipsa voluptate, magni
    expedita aperiam ratione? Culpa cum perspiciatis consequuntur quisquam
    tenetur ad?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, nemo
    tempora fugit nihil quos maiores doloribus accusamus ipsa voluptate, magni
    expedita aperiam ratione? Culpa cum perspiciatis consequuntur quisquam
    tenetur ad?
  </p>
</div>
{% endblock %}
